{
  "version": "1",
  "metadata": {
    "app": "",
    "timestamp": "",
    "annotations": []
  },
  "uid": "",
  "name": "",
  "stencil_groups": [],
  "base_templates": [],
  "policies": [],
  "helm_releases" : [],
  "configurations": [],
  "tags": []
}