---
services:
{{range .Services}}
  {{.Name}}:
    git: {{.GitRepo}}
    git_branch: {{.GitBranch}}
    command: {{.Command}}
    build_root: {{.BuildRoot}}
    {{if .Ports}}{{range .Ports}}ports:
      - {{.}}{{end}}{{end}}
    {{if .EnvVars}}env_vars:{{range .EnvVars}}
      {{.Key}}: {{.Value}}{{end}}{{end}}
{{end}}
##NEWLINE##
databases:{{range .Dbs}}
  - {{.}}{{end}}
